

/* style.css */

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Text styles */
.bold-text {
    font-weight: bold;
}

/* Error message styles */
.error {
    color: red;
    font-size: 16px;
    margin: 5px 0 20px 20px;
}

/* Form group styles */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Label styles */
.form-group label {
    flex: 10% 0 30%;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
}

/* Input styles */
.form-group input[type="text"],
.form-group select,
.form-group input[type="radio"] {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Button styles */
.button-container button {
    padding: 12px 40px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #45a049;
}
