* {
    box-sizing: border-box;
    border: none;
    outline: unset;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 500px;
    padding: 60px 40px;
}

table {
    border-spacing: 10px;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.py-10 {
    padding: 10px 0;
}

.p-10 {
    padding: 10px;
}

.m-20 {
    margin: 20px;
}

.me-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mw-20 {
    max-width: 20%;
}

.w-170 {
    width: 170px;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}

.fl-1 {
    flex: 1;
}

.w-30 .present-time {
    background-color: rgb(234 229 229);
    margin: 0 0 20px 0;
}

.form-input input {
    padding: 20px 0 20px 10px;
}

.form-input input:hover {
    border-color: rgb(120, 217, 233);
}

.bg-blue {
    background-color: rgb(94 171 196);
}

.bg-green {
    background-color: rgb(86 170 70);
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.bd-blue {
    border: 2px solid rgb(5 84 149);
}

.pass-input {
    margin-bottom: 50px;
}

.btn {
    padding: 12px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(135, 211, 237);
}

.p-10-20 {
    padding: 10px 20px;
}

.genders {
    margin-right: 10px;
}

.genders input {
    margin-right: 10px;
}

.error {
    color: red;
    font-size: 16px;
    margin: 5px 0px 20px 20px;
    display: flex;
}

.required-label::after {
    content: " *";
    color: red;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 35px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(5 84 149);
    border-radius: 10px;
}

.address-label {
    height: 20%;
}

.address-input {
    padding: 10px 10px 50px 10px;
}
